* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  max-width: 350px;
    margin: auto;
  display: flex;
  flex-direction: column;
}
/* bulma overrides */
.has-text-link-dark{
  color:#8422ff!important;
}
.button.is-primary{
  background: #8422ff!important;
  border-radius: 268.5px;
  height: 48px;
  margin-top:15px;
}
.is-primary.input, .is-primary.textarea{
  border:1px solid #8422ff;
  box-sizing: border-box;
border-radius: 7px;
}
.container{
  display: flex;
  flex-direction: column;
  /* align-content: space-evenly; */
  height: 100vh;
  justify-content: space-evenly;
}