@import url('https://fonts.googleapis.com/css2?family=Monda&family=Slabo+13px&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 62.5%;
    text-align: center;
    font-family: var(--ff-secondary);
}

:root {
    /* Fonts */
    --ff-primary: sans-serif;
    --ff-secondary: 'Monda', sans-serif;

    /* Font weights */
    --fw-regular: 400;
    --fw-bold: 800;

    /* Font size */
    --fs-regular: 1.6rem;
    --fs-header: 4.6rem;

    /* Colours */
    --clr-primary: #44036d;
    --clr-secondary: #a25bce;
    --clr-light: rgb(198, 198, 198);
    --clr-dark: rgb(58, 58, 58);
}
.App {
    margin: 0 0.5rem;
}

/* Header */
.header-container {
    min-height: 8vh;
}

/* Welcome section */
.welcome-intro {
    text-align: left;
    min-height: 50vh;
    padding: 3em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.welcome-intro--intro {
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
    margin: 1em 0;
}
.welcome-intro--header {
    color: var(--clr-primary);
    font-family: var(--ff-primary);
    font-size: 5rem;
    font-weight: 900;
}
.welcome-intro--text {
    margin: 1em 0;
    padding: 0.5rem;
    font-size: var(--fs-regular);
}

/* User section */
.welcome-intro--user {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 15vh;
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.welcome-intro--user-loggedin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 22vh;
}
.welcome-intro--divider {
    align-self: center;
    width: 50%;
    height: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 2em 0;
    margin-bottom: 2.5em;
}
.welcome-intro--divider-text {
    font-size: var(--fs-regular);
    background-color: #ffffff;
    padding: 0 10px;
}
.page-header-login {
    margin-top: 1em;
}
.page-header-signup {
    margin-top: -1em;
}
.page-header-confirmation {
    margin-top: 1.5em;
}

.event-confirmation-text {
    margin-top: 5em;
}
.event-confirmation-text > p {
    font-size: var(--fs-regular);
    margin-top: 0.5em;
}
.event-confirmation {
    margin-top: 1em;
}
/* Login form */
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    height: 325px;
    justify-content: space-around;
}
.login-form > button {
    margin-top: 2em;
    align-self: center;
    width: 300px;
}
/* Signup form */
.signup-form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    height: 500px;
    justify-content: space-around;
}
.signup-form > .secondary-button {
    margin-top: 2em;
    align-self: center;
    width: 300px;
    height: 3.5em;
}

/* Button styles */
.primary-button {
    background-color: var(--clr-primary);
    border-radius: 3em;
    border: solid 1px transparent;
    color: #fff;
    font-size: 1.8em;
    cursor: pointer;
    width: 200px;
    height: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.primary-button:hover {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
    transition: all 0.1s ease-in-out;
}
.secondary-button {
    background-color: var(--clr-secondary);
    border-radius: 3em;
    border: solid 1px transparent;
    color: #fff;
    font-size: 1.8em;
    cursor: pointer;
    width: 200px;
    height: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.secondary-button:hover {
    background-color: transparent;
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);
    transition: all 0.1s ease-in-out;
}
/* Reusable components */
.page-header {
    font-size: var(--fs-header);
    color: var(--clr-primary);
    font-family: var(--ff-primary);
    text-align: left;
    margin-left: 0.5em;
}
.input-label {
    text-align: left;
    margin-top: 1em;
    margin-left: 1.5em;
    font-weight: var(--fw-bold);
    font-size: 1.8em;
    color: var(--clr-dark);
}
.input-textbox {
    font-size: var(--fs-regular);
    align-self: center;
    padding: 0.5em;
    width: 90%;
    height: 4em;
    border-radius: 0.5em;
    border: solid 1px var(--clr-light);
}
.input-textbox:focus {
    border: solid 1px var(--clr-secondary);
    outline: none;
}

.footer-signup {
    margin-top: 1em;
    font-size: var(--fs-regular);
    text-decoration: none;
    color: var(--clr-dark);
}
.footer-signup > span {
    font-size: var(--fs-regular);
    color: var(--clr-secondary);
    font-weight: var(--fw-bold);
}

/* User profile */
.header-user-profile {
    min-height: 10vh;
}
.user-container {
    margin-top: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
}
.user-container > div {
    font-size: var(--fs-regular);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
}
.user-container > div > p {
    color: var(--clr-dark);
    font-size: 1.8rem;
    font-weight: 600;
}
.user-container > div > p > span {
    color: var(--clr-secondary);
    font-size: 1.8rem;
    font-weight: 600;
}
.user-container > div > div > p {
    color: #8e8e8e;
}
.user-text-signout:hover {
    color: var(--clr-dark);
    cursor: pointer;
}

.user-avatar {
    height: 50px;
    width: 50px;
    border: 2px solid var(--clr-light);
    border-radius: 50%;
}

/* Restaurant filters */
.page-header-shortlist {
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: -0.75em;
}
.filters > form {
    margin-top: 3em;
}
.primary-button-filters {
    margin-top: 1.25em;
    margin-bottom: 0.25em;
    align-self: center;
    background-color: var(--clr-primary);
    border-radius: 0.5em;
    border: solid 1px transparent;
    color: #fff;
    font-size: 1.8em;
    cursor: pointer;
    width: 90%;
    height: 3em;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.primary-button-filters:hover {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
    transition: all 0.1s ease-in-out;
}
.fa-plus-square {
    color: var(--clr-primary);
    height: 1em;
    margin-right: 0.1em;
}
.fa-plus-square:active {
    color: black;
    height: 1em;
    margin-right: 0.1em;
}
.primary-button-reviewlist {
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: center;
    background-color: var(--clr-primary);
    border-radius: 0.5em;
    border: solid 1px transparent;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    width: 70%;
    height: 3em;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.primary-button-reviewlist:hover {
    background-color: transparent;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
    transition: all 0.1s ease-in-out;
}

/* Final shortlist */
.page-header-shortlist {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}
.input-label-shortlist {
    text-align: left;
    margin-left: -2.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.8em;
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}
.input-textbox-shortlist {
    margin-top: 0.5em;
    margin-bottom: 1em 0;
    font-size: var(--fs-regular);
    align-self: center;
    padding: 0.5em;
    width: 90%;
    height: 3.5em;
    border-radius: 0.5em;
    border: solid 1px var(--clr-light);
}
.input-textbox-shortlist:active {
    border: solid 1px var(--clr-primary);
    outline: none;
}

.final-list-buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    height: 20vh;
    justify-content: space-evenly;
}
.secondary-button-reviewlist {
    margin-bottom: 0.25em;
    align-self: center;
    background-color: var(--clr-secondary);
    border-radius: 0.5em;
    border: solid 1px transparent;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    width: 70%;
    height: 3em;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.secondary-button-reviewlist:hover {
    background-color: transparent;
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);
    transition: all 0.1s ease-in-out;
}

/* Voting page text */
.voting-page-text {
    margin-top: 1.5em;
    margin-bottom: 3em;
}
/* does not change voting card at all, find another way */
.voting-page-text > p {
    font-size: var(--fs-regular);
    margin: 0.5em;
}
.page-header-voted {
    margin-top: 2em;
}
.page-header-voted-text {
    font-size: var(--fs-regular);
    margin: 0.5em;
    margin-top: 2em;
    line-height: 2em;
}

/* Stars */
.fa-star,
.fa-star-half-alt,
.fa-star {
    color: rgb(224, 172, 0);
}

.final-list-datetime > input {
    margin-top: 0.5em;
    margin-bottom: 1em 0;
    font-size: var(--fs-regular);
    align-self: center;
    padding: 0.5em;
    width: 90%;
    height: 3.5em;
    border-radius: 0.5em;
    border: solid 1px var(--clr-light);
    text-align: center;
}

.page-header-voting {
    margin-top: -1em;
}

.Results > * {
    font-size: var(--fs-regular);
}
.page-header-results {
    text-align: center;
    font-size: var(--fs-header);
    color: var(--clr-primary);
    font-family: var(--ff-primary);
    margin-bottom: 0.5em;
}
.secondary-button-results {
    margin-bottom: 1em;
    align-self: center;
    background-color: var(--clr-secondary);
    border-radius: 1.5em;
    border: solid 1px transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    width: 70%;
    height: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.secondary-button-results:hover {
    background-color: transparent;
    border-color: var(--clr-secondary);
    color: var(--clr-secondary);
    transition: all 0.1s ease-in-out;
}

.results-top {
    text-decoration: none;
    color: var(--clr-dark);
    margin: 1em;
    margin-bottom: 1.5em;
    display: block;
}
