.shortlist-filters-container {
    max-width: 350px;
    margin: auto;
}

.restaurant-info-container {
    max-width: 350px;
    border-top: 2px solid black;
    margin: auto;
}

.shortlist-info-presubmission-container {
    max-width: 350px;
    margin: 1rem auto;
    border: 2px solid black;
   
}

.pagination-container {
    max-width: 350px;
    margin: auto;
}

.shortlisted-restaurant-container {
    border: 2px solid black;
    max-width: 350px;
    margin: 1rem auto;
}

.voting-restaurant-display-container {
    border: 2px solid black;
    max-width: 350px;
    margin: 2rem auto;
    height: 500px;
}

.winning-restaurant-display-container {
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
        border: 2px solid black;
    max-width: 350px;
    margin: 2rem auto;
    height: 500px;
}

.vote-yes-or-no-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}