/* .shortlist-filters-container {
    max-width: 350px;
    margin: auto;
    border: 1px solid red;
} */

.restaurant-info-container {
    max-width: 90%;
    border-radius: 0.5em;
    border: solid 1px var(--clr-light);
    margin: 1.25em auto;
    padding: 1em;
}

.shortlist-info-presubmission-container {
    max-width: 90%;
    border-radius: 0.5em;
    margin: 1rem auto;
    border: 2px solid var(--clr-primary);
}

.pagination-container {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    max-width: 90%;
    margin: auto;
    font-size: var(--fs-regular);
}
.pagination-container > i {
    margin: 0 0.5em;
    color: var(--clr-dark);
}

.shortlisted-restaurant-container {
    border: 1px solid var(--clr-light);
    border-radius: 0.5em;
    max-width: 350px;
    margin: 1rem auto;
}

.voting-restaurant-display-container {
    /* border: 2px solid black; */
    max-width: 350px;
    margin: 2rem auto;
    /* height: 500px; */

    /* from swipe card repo: */
    /* width: 90vw;
  max-width: 260px;
  height: 300px; */
}

.tindercard-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.5em;
    background-size: cover;
    background-position: center;
    font-size: var(--fs-regular);
}
.card > .voting-card-title {
    font-weight: var(--fw-bold);
    color: red;
}

.winning-restaurant-display-container {
    -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
        -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
        12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
        -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
        -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
        12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
        -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border: 2px solid black;
    max-width: 350px;
    margin: 2rem auto;
    height: 500px;
}

.vote-yes-or-no-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
