.restaurant-info-title {
    text-align: center;
    font-size: 2rem;
    color: purple;
}

.restaurant-info-subtitle {
    text-align: center;
    font-size: 1.5rem;
    color: purple;
}
.restaurant-info-additional {
    font-size: 1.5rem;
    color: purple;
    margin: 2.5%;
}

.thumbs-up {
    font-size: 2rem;
    text-align: right;
    margin-bottom: 0.3rem;
}

.welcome-text {
    text-align: center;
}

.form-label-paragraph {
    font-size: 1.2rem;
}

.shortlist-info {
    font-size: 1rem;
    text-align: center;
    padding: 0.3rem;
}
.shortlisted-restaurant-info {
    text-align: center;
    font-size: 2rem;
}

.delete-icon {
    font-size: 2rem;
    color: purple;
    text-align: right;
}

.summary-header {
    font-size: 2rem;
    color: purple;
}

.summary-event-name {
    font-size: 3rem;
    color: purple;
}

.vote-yes-or-no-icons {
    font-size: 3rem;
    color: blue;
}

.vote-yes-or-no-icons:hover {
    cursor: pointer;
}