.restaurant-info-title {
    text-align: center;
    font-size: 2rem;
    color: var(--clr-dark);
}

.restaurant-info-subtitle {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    color: var(--clr-primary);
}
.restaurant-info-additional {
    font-size: 1.6rem;
    color: var(--clr-dark);
    margin: 2.5%;
}
.restaurant-info-additional > a {
    color: var(--clr-secondary);
    text-decoration: none;
}

.thumbs-up {
    font-size: var(--fs-regular);
    text-align: right;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
}
.thumbs-up > i {
    margin-left: 0.25em;
    cursor: pointer;
}

.welcome-text {
    text-align: center;
}

.form-label-paragraph {
    font-size: 1.6rem;
    text-align: left;
    margin-left: 1.5em;
    margin-top: 1em;
    font-weight: var(--fw-bold);
}

.shortlist-info {
    font-size: var(--fs-regular);
    text-align: center;
    padding: 1rem;
}
.shortlisted-restaurant-info {
    /* text-align: left; */
    font-size: var(--fs-regular);
    margin-top: 1.5em;
    line-height: 1.3em;
}
.delete-icon {
    font-size: 2rem;
    /* padding: 1em; */
    color: var(--clr-secondary);
    text-align: right;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.summary-header {
    font-size: 2rem;
    color: purple;
}

.summary-event-name {
    font-size: 3rem;
    margin: 0.75em;
    color: var(--clr-dark);
}

.vote-yes-or-no-icons-yes {
    font-size: 7rem;
    cursor: pointer;
    color: rgb(4, 167, 66);
}
.vote-yes-or-no-icons-no {
    font-size: 7rem;
    color: rgb(167, 37, 4);
}
.yes-no-button {
    cursor: pointer;
}
.vote-yes-or-no-icons:hover {
    cursor: pointer;
}

.veggie-icon {
    font-size: 2rem;
    color: green;
}
