.RestaurantFinalCard ul {
  border: 1px solid red;
  border-radius: 10px;
  max-height: 400px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 0.5rem;
  margin: 0.5rem auto;
}
.RestaurantFinalCard li {
  border: 1px solid grey;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto 20px;
  padding: 1rem;
}

.Buttons {
  display: flex;
  justify-content: center;
}

.Buttons button {
  width: 80%;
  padding: 1rem;
}
