.UserVote {
  box-sizing: border-box;
}
.UserVote img {
  border: 1px solid red;
  border-radius: 10px;
  /* margin: 0 auto; */
  height: 190px;
  width: 95vw;
  display: flex;
}
.UserVote li {
  margin-top: 1rem;
}
.UserVote p {
  line-height: 1.3rem;
}
.UserVote div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
